{% extends "base.html" %}

{% block title %} Delete Member {% endblock  %}

{% block content %}
{% if user.is_authenticated %} You are logged in as {{ user }}
<h1>Delete Member:{{ UserProfile.user }}</h1>
<form action="{% url 'users:delete_member' %}" method="post">
    {% csrf_token %}
   {{form.as_p}}
   <button type="submit">Delete Member</button>
</form>
<a href="{% url 'users:logout' %}">Logout</a>
{% else %}
<p>You need to be logged in to delete member. Please <a href="{% url 'users:login' %}">login</a>.</p>
{% endif %}
{% endblock  %}